:root {
  --card-width: 6.25em;
  --card-height: 6.25em;

  --clr-700: hsl(189, 66%, 15%);
  --clr-600: hsl(189, 66%, 25%);
  --clr-500: hsl(189, 66%, 34%);
  --clr-400: hsl(189, 66%, 44%);
  --clr-300: hsl(189, 66%, 54%);

  --clr-white: hsl(20, 43%, 92%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

/* Inherit fonts for inputs and buttons */
input,
button {
  font: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--clr-300);
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--clr-white);
  width: fit-content;
  margin-inline: auto;
  margin-top: 4em;
  position: relative;
}

.win-container {
  position: absolute;
  color: var(--clr-700);
  white-space: nowrap;
  text-align: center;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  /* display: none; */
}

.win-message,
.moves-message {
  font-family: "Press Start 2P", cursive;
}

.win-message {
  font-size: 3rem;
}

.moves-message {
  font-size: 1.3rem;
}

.stats-container {
  padding: 1em 0em 1em 2em;
}

/* .moves-counter {
  visibility: hidden;
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, var(--card-width));
  gap: 0.5em;
  padding-inline: 2em;
}

.grid-card {
  height: var(--card-height);
  perspective: 150em;
  animation: scale-in 0.6s forwards;

  /* transform: scale(0); */
}

.grid-card-content {
  background-color: var(--clr-600);
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card-front,
.card-back {
  position: absolute;
  display: flex;
  right: 0;
  left: 0;
  height: inherit;
  backface-visibility: hidden;
}

.card-back {
  background-color: var(--clr-500);
  transform: rotateY(180deg);
}

.grid-card.flipped .grid-card-content {
  transform: rotateY(180deg);
}

.grid-card.scaleout {
  animation: scale-out 0.3s forwards;
}

.grid-card.scalein {
  animation: scale-in 0.5s forwards;
}

@keyframes scale-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scale-in {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.card-front img,
.card-back img {
  width: 70%;
  object-fit: contain;
  object-position: center;
  margin: auto;
}

.control-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  gap: 0.5em;
}

.control-buttons button {
  color: white;
  background-color: var(--clr-500);
  border: none;
  padding: 0.5em 1em;
}

.stop-button {
  display: none;
}

.control-buttons button:hover {
  background-color: var(--clr-600);
}

span {
  font-weight: 600;
}
